body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 10px;
    width: 100%;
    background-color: #f0f0f0;
}

.logo img {
    width: 150px;
    float: left;
    padding: 15px 5px;
    margin-right: 20px;
}

.company-info p {
    margin: 5px 0;
}
.cp {
    margin-left: 385px;
}

.tcp {
    display: inline-block;
}

h2 {
    margin-top: 0;
}

.title {
    text-align: center;
    margin-top: 19px;
}

.wrap {
    background-color: black;
}
.title-pelanggan {
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
